language: php

sudo: false

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

matrix:
  fast_finish: true

install:
  - composer install

script:
  - ./vendor/bin/phpcs --standard=PSR2 src/
  # - ./vendor/bin/phpunit
